<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>{{question.title}}</strong> by <em>{{question.author}}</em></h4>
  </div>
  <div class="panel-body">
    <p>{{question.content}}</p>
  </div>
</div>
