<h2>About Tech Questions <small>and Answers!</small></h2>
<p>
  Tech Questions and Answers provides a forum for tech-related questions and answers. Users may ask questions and receive answers. Users may also provide answers to others!
</p>
