{{question-detail question=model}}
<hr>
{{question-update question=model updateQuestion="updateQuestion"}}
<hr>
{{answer-new question=model saveAnswer="saveAnswer"}}
<hr>
<h3>Answers:</h3>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
